<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michael.spendingtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Green">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/settings" />
        <activity
            android:name=".addClasses.AddTransaction"
            android:label="@string/add_transaction" />
        <activity
            android:name=".addClasses.AddCategory"
            android:label="@string/addCategory" />
        <activity
            android:name=".addClasses.AddItem"
            android:label="@string/addItem" />
        <activity
            android:name=".Recents"
            android:label="@string/recents"/>
    </application>

</manifest>